.user-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  padding: 20px;
  width: 90%;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Futura', sans-serif;
  font-size: large;
  padding: 10px;
}

.info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Futura', sans-serif;
  font-size: large;
}

.info-input {
  width: 250px;
  font-family: 'Futura', sans-serif;
  font-size: medium;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    text-align: center;
    font-family: 'Futura', sans-serif;
    font-size: medium;
  }

  .save-button{
    background-color: black;
    margin-right: 10px;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    text-transform: capitalize;
    font-family: 'Futura', sans-serif;
  }