.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.register-form-container > p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}


.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form > input{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.register-form > button{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border: 1px solid;
    color: white;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.register-form > button:hover{
    background-color: white;
    color: black;
}
