.newproduct-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #f5f5f5;
    gap: 20px;
}


.newproduct-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.saveBtn >  button{
    background-color: black;
    margin-right: 10px;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    text-transform: capitalize;
    font-family: 'cabin', sans-serif;
}
