.product-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;   
    height: 10%;
}

.product-header p {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.product-header button {
    background-color: black;
    margin-right: 10px;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    text-transform: capitalize;
    font-family: 'cabin', sans-serif;
}

.product-table{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 70vh;
    margin: 20px;
}

.product-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}

.action-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.action-buttons > .icon-container {
    height: 30px;
    width: 30px;
    font-size: 17px;
}

.action-buttons > :first-child:hover {
    background-color: rgba(255, 152, 0, 0.5);   
}

.action-buttons > :last-child:hover {
    background-color: rgba(242, 97, 63, 0.5);   
}

.details-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.details-btn > .icon-container {
    height: 30px;
    width: 30px;
    font-size: 17px;
}

.details-btn > :first-child:hover {
    background-color: rgba(70, 245, 114, 0.5);   
}