.product-content{
    flex-direction: column;
    justify-content: space-evenly;
}

.product-image > img{
    height: 400px;
    width: 500px;
}

.product-page-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow:scroll
}
