.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: scroll;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 20px;
}

.header-container > .icon-container{
    font-size: 25px;
    color: #000000;
    height: 45px;
    width: 45px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate(180deg);
}

.icon-container{
    font-size: 25px;
    color: #000000;
    height: 45px;
    width: 45px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-container:hover{
    background-color: #d3d3d3;
}